.venv/
.env/
.env
__pycache__/
# Logs
logs/
## DB and cache
db.sqlite
cache/
AmazonDB/
ChromaDBData/
PlotDB_2/
NetflixDB/
DisneyDB/
netflix_plot_cache/
amazon_plot_cache/
disney_plot_cache/
Chroma_cache/
plot_cache/
filtering/user_item_interaction.csv 

## VSCode settings
.vscode/
